/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import url("https://use.typekit.net/jba2ajj.css");

/* base styles */
* {
  margin: 0;
  /* font-family: "Quicksand"; */
  font-family: asap, sans-serif;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #e40017;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #e40017;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

div.links .create-button{
  color: #fff;
  background-color: #e40017;
  border-radius: 8px;
  font-size: 20px;
  
}


/* Blogs */

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 4px 6px 9px rgba(0,0,0,0.1);
  border-right: 10px solid #e40017;
}
.blog-preview h2 {
  font-size: 20px;
  color: #e40017;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details article h2{
  font-size: 30px;
  margin-bottom: 10px;
  color:#e40017
}

.blog-details article p{
  margin: 20px 0;
}

.blog-details button {
  background: #e40017;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}

/* create page */

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  margin: 40px auto;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #e40017;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #e40017;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 35px auto;
}
.error h2{
  font-size: 20px;
  color: #222;
  margin-bottom: 30px;
}
.error a{
  text-decoration: none;
  background-color: #e40017;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
} 

/* .btn-hover {
  background-image: linear-gradient(to right, #a3e6eb, #65ecab, #5bf1a9, #b4ebad);
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
} */